@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-incl-sans);
  --font-mono: var(--font-incl-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-incl-sans), Arial, Helvetica, sans-serif;
}

.liquid-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;

  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15); */
}

.liquid-glass-dark {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.marble-game-interface {
  /**
  * Interface
  */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: var(--font-incl-sans), Arial, Helvetica, sans-serif;
  z-index: 10;

  /**
  * Time
  */
  .time {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 6vh;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
    z-index: 10;
  }

  /**
  * Restart
  */
  .restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
  }

  /**
  * Controls
  */
  .controls {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .controls .raw {
    display: flex;
    justify-content: center;
  }

  .controls .key {
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
  }

  .controls .key.large {
    width: 144px;
  }

  .controls .key.active {
    background: #ffffff99;
  }
}
